*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --primary-color: #0D1421;
    --white: #f1f1f1;
    --fade: rgba(255, 255, 255, 0.1);
    --fade-active: rgba(255, 255, 255, 0.4);
}

body {
    background-color: var(--primary-color);
    color: var(--white);
    margin: 20px 40px;
    font-family: Comfortaa, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.title img {
    width: 50px;
    height: 50px;
}

.title h1 {
    font-size: 2rem;
}

#myChart{
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.chart-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.chart-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 6px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--fade);
    color: var(--white);
    cursor: pointer;
    min-width: 50px;
    font-size: 0.75rem;
    font-family: Comfortaa, sans-serif;
}

.chart-action:hover {
    background-color: var(--fade-active);
}

.chart-action.active {
    background-color: var(--white);
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}